/* Global */
:root{
    /* App Colors */
    /* 주요 색상 */
    --color-primary: var(--color-black);
    --color-primary-variant: var(--color-gray);
    /* 강조 색상 */
    --color-accent: var(--color-blue);
    --color-accent-variant: var(--color-orange);
    /* 텍스트 색상 */
    --color-text: var(--color-white);
    /* 밑의 컬러 변수만 사용 했을 때 만약 블루 칼라를 노란색으로 밖우고 싶을때 이름을 
    다 변경해야되는 상황이 올 수도 있기 때문에 위의 변수를 더 만든다*/
    
    /* Clolors */
    --color-white: #ffffff;
    --color-black: #050a13;
    --color-blue: #03e8f9;
    --color-orange: #fd6413;
    --color-gray: #1b1e26;
}

/* 모든 태그 */
*{
    box-sizing: border-box;
    /* 좀더 직관적으로 넓이 높이 명시 / 페딩과 보더까지 합해서 width,height 이 지정될수 있도록 */
}

body{
    font-family: 'Open Sans' sans-serif;
    margin: 0;
}

/* 초기화 */
h1,h2,h3,p,ul{
    margin: 0;
}

/* 목록 제거 */
ul{
    list-style: none;
    /* 왼쪽 padding들어가 있는거 초기화 */
    padding: 0;
}
/*
 파란색 링크표기 제거 */
a{
    /* 밑줄 제거 */
    text-decoration: none;
    color: var(--color-text);
}

/* 버튼 리셋 */
button{
    /* 벡그라운드 색 사용안함 */
    background-color: transparent;
    /* 아웃라인 없애기 */
    outline: 0;
    border: 0;
}

/* focus 마우스로 눌렀을 때 */
button:focus{
    outline:  1px solid var(--color-accent);
}


/* 헤더부분 꾸미기 */
/* 헤더 부분을 스크롤링 해도 상위에 고정하고 싶다하면 스틱키/ 픽스트 */
/* 스틱키는 문서의 플로어를 유지한다 / 픽스트는 문서에서 빠져 나온다 */

/* header */
.header{
    background-color: rgb(232, 138, 202);
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    display: flex;
    align-items: center;
    /* flex박스 안에 있는 자식들의 여백 추가 */
    gap: 8px;
}

.header__logo__img{
    width: 36px;
    height: 36px;
}

.header__logo__title{
    font-size: 1.8rem;
    /* 기본 폰트 사이즈의 1.8배 */
}

.header__menu{
    display: flex;
    gap: 4px;
}

.header__menu__item{
    padding: 8px 16px;
}

.header__menu__item:hover{
    border-bottom: 1px solid var(--color-accent);
}
/* 선택 된 상태 표시를 위해 class에 active추가 */
.header__menu__item.active{
    border: 1px solid var(--color-accent);
    border-radius: 4px;
}

/* home */
#home{
    background-color: var(--color-primary);
    color: var(--color-text);
    padding: 5rem 1rem;
    padding-top: 7rem;
    /* 가운데로 정렬 */
    text-align: center;
}

.home__img{
    width: 200px;
    height: 200px;
    /* 이미지 형태 유지 */
    object-fit: cover;
    border-radius: 100%;
    border: 3px solid var(--color-accent);
}

.home__title{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.home__title--strong{
    color: var(--color-accent);
}

.home__description{
    font-size: 1.3rem;
}

.home__contact{
    /* display: inline-block; 이걸 한 이유는 inline이라 마진이 위아래가 없어서 블럭 값으로 변경 */
    display: inline-block;
    background-color: var(--color-accent);
    color: var(--color-black);
    margin:2rem ;
    padding: 0.5rem 1rem;
    font-weight: bold;
    border-radius: 4px;
}

.home__contact:hover{
    background-color: transparent;
    outline: 2px solid var(--color-accent);
    color: var(--color-text);
}