/* Global */
:root{
    /* App Colors */
    /* 주요 색상 */
    --color-primary: var(--color-black);
    --color-primary-variant: var(--color-gray);
    /* 강조 색상 */
    --color-accent: var(--color-blue);
    --color-accent-variant: var(--color-orange);
    /* 텍스트 색상 */
    --color-text: var(--color-white);
    /* 밑의 컬러 변수만 사용 했을 때 만약 블루 칼라를 노란색으로 밖우고 싶을때 이름을 
    다 변경해야되는 상황이 올 수도 있기 때문에 위의 변수를 더 만든다*/
    
    /* Clolors */
    --color-white: #ffffff;
    --color-black: #050a13;
    --color-blue: #03e8f9;
    --color-orange: #fd6413;
    --color-gray: #1b1e26;

    /* size */
    --size-max-width: 1200px;
}

/* 모든 태그 */
*{
    box-sizing: border-box;
    /* 좀더 직관적으로 넓이 높이 명시 / 페딩과 보더까지 합해서 width,height 이 지정될수 있도록 */
}

body{
    font-family: 'Open Sans' sans-serif;
    margin: 0;
}

/* 초기화 */
h1,h2,h3,p,ul{
    margin: 0;
}

/* 목록 제거 */
ul{
    list-style: none;
    /* 왼쪽 padding들어가 있는거 초기화 */
    padding: 0;
}
/*
 파란색 링크표기 제거 */
a{
    /* 밑줄 제거 */
    text-decoration: none;
    color: var(--color-text);
}

/* 버튼 리셋 */
button{
    /* 벡그라운드 색 사용안함 */
    background-color: transparent;
    /* 아웃라인 없애기 */
    outline: 0;
    border: 0;
}

/* focus 마우스로 눌렀을 때 */
button:focus{
    outline:  1px solid var(--color-accent);
}


/* 헤더부분 꾸미기 */
/* 헤더 부분을 스크롤링 해도 상위에 고정하고 싶다하면 스틱키/ 픽스트 */
/* 스틱키는 문서의 플로어를 유지한다 / 픽스트는 문서에서 빠져 나온다 */

/* Common */
/* 공통적으로 사용 되는 스타일링 */
.section{
    padding:  4rem;
    text-align: center;
}
.title{
    margin: 1rem 0;
    font-size: 2.5rem;
}
.description{
    margin: 0.5rem 0;
    font-size: 1.5rem;
}
/* 브라우저가 넓어지는데 계속 답 없이 넓어져서 제안두기 */
.max-container{
    max-width: var(--size-max-width);
    margin: auto;
}

/* header */
.header{
    background-color: var(--color-black);
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* 헤더를 가장 높은 곳으로 지정 / 가장 앞면 */
    z-index: 1;
}

.header__logo{
    display: flex;
    align-items: center;
    /* flex박스 안에 있는 자식들의 여백 추가 */
    gap: 8px;
}

.header__logo__img{
    width: 36px;
    height: 36px;
    color: var(--color-accent);
    padding: 0.5rem 0.5rem;
}

.header__logo__title{
    font-size: 1.8rem;
    /* 기본 폰트 사이즈의 1.8배 */
}

.header__menu{
    display: flex;
    gap: 4px;
}

.header__menu__item{
    padding: 8px 16px;
}

.header__menu__item:hover{
    border-bottom: 1px solid var(--color-accent);
}
/* 선택 된 상태 표시를 위해 class에 active추가 */
.header__menu__item.active{
    border: 1px solid var(--color-accent);
    border-radius: 4px;
}

/* home */
#home{
    background-color: var(--color-primary);
    color: var(--color-text);
    padding: 5rem 1rem;
    padding-top: 7rem;
    /* 가운데로 정렬 */
    text-align: center;
}

.home__img{
    width: 200px;
    height: 200px;
    /* 이미지 형태 유지 */
    object-fit: cover;
    border-radius: 100%;
    border: 3px solid var(--color-accent);
}

.home__title{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.home__title--strong{
    color: var(--color-accent);
}

.home__description{
    font-size: 1.3rem;
}

.home__contact{
    /* display: inline-block; 이걸 한 이유는 inline이라 마진이 위아래가 없어서 블럭 값으로 변경 */
    display: inline-block;
    background-color: var(--color-accent);
    color: var(--color-black);
    margin:2rem ;
    padding: 0.5rem 1rem;
    font-weight: bold;
    border-radius: 4px;
}

.home__contact:hover{
    background-color: transparent;
    outline: 2px solid var(--color-accent);
    color: var(--color-text);
}

/* About */
.majors{
    display: flex;
    /* 아이템들 사이 간격 주기 */
    justify-content: space-between;
    gap: 1rem;
    margin: 2.5rem 0;
}
/* major 카드형식으로 만들기 */
.major{
    background-color: var(--color-primary-variant);
    padding: 2rem 1rem;
    color: var(--color-text);
    border-radius: 4px;
    /* 마우스가 텍스트에 올라갔을 때 텍스트 커서 안되게 하기  */
    cursor: default;
    /* 그림자 주기 */
    box-shadow: 0 20px 50px rgba(8, 112, 184, 0.7);
}

.major__icon{
    font-size: 4rem;
    margin: 1rem 0;
    color: var(--color-accent);
    /* 애니메이션이 움직임 속도 주기 */
    transition: all 300ms ease;
}

.major__title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

/* 카드위에 마우스가 올라갔을 때 아이콘에 에니메이션 주기 */
.major:hover .major__icon{
    transform: rotate(-15deg) scale(1.2);
}

.jobs{
    /* 왼쪽으로 가게 하기  */
    text-align: start;
}

.job{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 1rem;
}

.job__name{
    color: var(--color-primary);
}

.job__period{
    color: var(--color-primary);
    font-size: 0.8rem;
}

/* skills */
#skills{
    background-color: var(--color-primary-variant);
    color: var(--color-text);
}

.skills{
    display: grid;
    /* 몇개의 행을 쓸 건지  밑은 2개의 행에 6배 4배 크기로 지정 */
    grid-template-columns: 6fr 4fr;
    margin: 2rem 3rem;
    border-radius: 8px;
    /* 자식이 현재 배경색을 지정해서 skills박스에서 삐져 나와 있다 이걸 제거하기 */
    overflow: hidden;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12)
}

.skills__title{
    color: var(--color-accent);
    margin: 1rem 0;
    font-size: 1.2rem;
}

.skills__coding{
    /* 코딩만 2개의 로우로 사용 하고 싶어  */
    grid-row: span 2;
    padding: 1rem;
    background-color: var(--color-primary);
}

.skills__tools{
    padding: 1rem;
}

.skills__etc{
    padding: 1rem;
    background-color: var(--color-primary);
    /* 조금 다르게 하고 싶다 */
    filter: brightness(150%);
}

.bar{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
}

.bar__metadata{
    display: flex;
    justify-content: space-between;
}

.bar__bg{
    width: 100%;
    height: 3px;
    background-color: var(--color-primary-variant);
}

.bar__value{
    height: 3px;
    background-color: var(--color-accent);
}

/* work */
#Work{
    background-color: var(--color-primary);
    color: var(--color-text);
}

.categories{
    display: flex;
    justify-content: center;
    margin: 2.5rem;
    gap: 1rem;
}

.category{
    position: relative;
    color: var(--color-text);
    font-size: 1.1rem;
    padding: 0.5rem 3rem;
    border-radius: 4px;
    border: 1px solid var(--color-accent);
    cursor: pointer;
    /* 브라우져가 작아질때 텍스트 줄바꿈 안되게 하기 */
    white-space: nowrap;
}

.category--seelected{
    background-color: var(--color-accent);
    color: var(--color-primary);
}

.category__count{
    /* 선택 됫을 때만 보이게 하기 위해서  opacity 0으로 하면 안보임 */
    opacity: 0;

    /* absolute를 사용하면 빠져나와 부모한테 붙음 / 스테틱이 아닌곳으로 가서 body로 감  */
    /* 그래서 버튼에 position: relative;속성 줘야함 */
    position: absolute;
    top: -20px;
    right: 16px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 100%;
    background-color: var(--color-accent-variant);
    color: var(--color-text);
    transition:  all 250ms ease-in;
}
/* 선택했을때 숫자만 뜨게 하기 위해 */
.category--seelected .category__count,
.category:hover .category__count{
    opacity: 1;
    top: 0;
}

.projects{
    display: grid;
    /* 1배울 4번 반복  */
    grid-template-columns: repeat(4, 1fr);
    /* 총 두줄  */
    grid-template-rows: repeat(2,1fr) ;
    gap: 1rem;
}

.project{
    position: relative;
    border-radius: 8px;
    /* 이미지 안삐져나오게  */
    overflow: hidden;
}

.project__img{
    /* 부모 넓이 맞추기 */
    width: 100%;
}

.project__metadata{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-black);
    /* 불투명도 */
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    transition: all 250ms ease-in;
    transform: translateY(-10px);
}

.project__metadata:hover{
    opacity: 0.8;
    transform: translateY(0px);
}

/* 제목과 설명 사이 선 넣기  */
/* 가상의 요소 넣기 */
.project__title::after{
    content: '';
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 2px;
    background-color: var(--color-accent);
}

/* testimonial */
.testimoniials{
    margin: 3rem;
}
.testimonial{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

/* 사진 위치 번갈아 가면서 변화주기  */
/* 짝수 선택  */
.testimonial:nth-child(even) .testimonial__img{
    order: 1;
}
.testimonial__img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.testimonial__bubble{
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    padding: 1rem;
}

.testimonial__bubble__name{
    color: var(--color-accent);
    font-weight: bold;
    filter: brightness(70%);
}

/* Arrow up */
.arrow-up{
    background-color: var(--color-primary);
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    font-size: 3rem;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 100%;
    text-align: center;
    box-shadow: 5px 5px 0px 0px var(--color-accent);
}

/* footer */
#Contact{
    background-color: var(--color-primary);
    color: var(--color-text);
}

.contact__links{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    font-size: 2rem;
}

.contact__link{
    transition: color 250ms ease-in;
}

.contact__link:hover{
    color: var(--color-accent);
}


@media screen and (max-width: 768px) {
    /* common */
    .section{
        padding: 3rem 2rem;
    }
    .title{
        font-size: 2rem;
    }
    .description{
        font-size: 1rem;
    }

    /* header */
    .header{
        flex-direction: column;
        align-items: start;
    }
    .header__menu{
        flex-direction: column;
        text-align: center;
        padding: 1rem 4rem;
        gap: 1rem;
    }

    .header__nav{
        width: 100%;
    }

    /* home */
    #home{
        padding-bottom: 3rem;
    }

    .home__title{
        font-size: 2rem;
        margin: 0.5rem;
    }
    .home__description{
        font-size: 1rem;
    }

    /* about */
    .majors{
        flex-direction: column;
        align-items: center;
    }

    .major{
        max-width: 25rem;
        padding:1rem 0.5rem ;
    }
    .job{
        justify-content: center;
    }

    /* skills */
    .skills{
        grid-template-columns: 1fr;
    }

    /* work */
    .categories{
        flex-direction: column;
    }
    .category{
        width: 100%;
    }
    .projects{
        grid-template-columns: repeat(2,1fr);
    }

    /* testimonial */
    .testimonial{
        flex-direction: column;
    }
    .testimonial:nth-child(even) .testimonial__img{
        order: 0;
    }

    /* arrow up */
    .arrow-up{
        font-size: 2rem;
        width: 3rem;
        height: 3rem;
        bottom: 1.5rem;
        right: 1.5rem;
    }
}